h1 {
  color: #FFFFFF;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
  color: white;
}
body {
  background-color: #003b6F;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
}

ol {
  color: white;
  font-size: 12px;
}

ul {
  color: white;
  font-size: 12px;
}

.centerText {
  text-align: center;
}
